@model List<CQRSRentACar.CQRSPattern.Results.EmployeeResults.GetEmployeeQueryResult>

<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Ekibimiz<span class="text-primary"> İle Tanışın</span></h1>
            <p class="mb-0">
                Profesyonel ve deneyimli ekibimiz, size en iyi hizmeti sunmak için her zaman hazır. Müşteri memnuniyeti odaklı yaklaşımımızla sizlere hizmet vermekten mutluluk duyuyoruz.
            </p>
        </div>
        <div class="row g-4">
            @foreach (var employee in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item p-4 pt-0">
                        <div class="team-img">
                            <img src="~/@employee.ImageUrl" class="img-fluid rounded w-100" alt="@employee.NameSurname" onerror="this.src='/Cental-1.0.0/img/default-team.jpg'">
                        </div>
                        <div class="team-content pt-4">
                            <h4>@employee.NameSurname</h4>
                            <p>@employee.Profession</p>
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>