@model CQRSRentACar.CQRSPattern.Results.AboutResults.GetAboutByIdQueryResult

<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h4 class="text-primary text-uppercase">Cental</h4>
                        <h1 class="display-5 text-capitalize">@Model.Title</h1>
                    </div>
                    <p class="mb-4">@Model.Description</p>
                    <p class="mb-4">@Model.Description2</p>

                    <div class="row g-4">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="d-flex">
                                <div><i class="fas fa-car fa-3x text-primary me-3"></i></div>
                                <div>
                                    <h4>Geniş Araç Filosu</h4>
                                    <p>Modern ve bakımlı araçlarımızla her ihtiyaca uygun çözümler sunuyoruz.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="d-flex">
                                <div><i class="fas fa-headset fa-3x text-primary me-3"></i></div>
                                <div>
                                    <h4>7/24 Destek</h4>
                                    <p>Her an yanınızdayız. Yol yardımı ve müşteri hizmetleri haftanın 7 günü hizmetinizde.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="d-flex">
                                <div><i class="fas fa-dollar-sign fa-3x text-primary me-3"></i></div>
                                <div>
                                    <h4>Uygun Fiyatlar</h4>
                                    <p>Rekabetçi fiyatlarımız ve esnek ödeme seçenekleriyle bütçenize uygun çözümler.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="d-flex">
                                <div><i class="fas fa-shield-alt fa-3x text-primary me-3"></i></div>
                                <div>
                                    <h4>Güvenli Seyahat</h4>
                                    <p>Tam kapsamlı sigorta ve düzenli bakımlarla güvenli yolculuklar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="~/Cental-1.0.0/Cental-1.0.0/img/about-img.jpg" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                    <div class="img-2">
                        <img src="~/Cental-1.0.0/Cental-1.0.0/img/about-img-1.jpg" class="img-fluid rounded w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->